body {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  .keywords {
    background-color:powderblue;
  }

  .alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }