body {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100%;
}

td {
    padding: 0.75em;
}

table {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #e1e1e1;
    background-color: #f5f5f5;
  }

.container-body {
    display: none;
    padding-bottom: 60px;
}

.container-body.active {
    display: block;
}

.keywords {
background-color:powderblue;
}

.alignCenter {
display: flex;
justify-content: center;
align-items: center;
}

#home{
height: auto;
min-height: 100%;
padding-bottom: 60px;
}

#flex-container {
    display:flex;
    flex-direction:column;
 
    /* fallback height */
    min-height:100vh;
 
    /* new small viewport height for modern browsers */
    min-height:100svh;
 }
 #flex-container > footer {
    margin-top:auto;
 }

#gs-container {
    margin-bottom: 20px;
}